<div class="reset-password h-100">
    <div class="form-reset-password">
        <img class="mb-4" src="/assets/logo.png" alt="" width="100" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
        <form data-cy="resetForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

        <div class="form-group input-group">
            <input data-cy="resetPassword" type="password" placeholder="New password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div data-cy="resetPasswordError" *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>

        <div class="form-group input-group">
            <input data-cy="resetConfirmPassword" type="password" placeholder="Confirm password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div data-cy="resetConfirmPasswordError" *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>

        <div class="form-group">
            <button data-cy="resetBtn" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Update password
            </button>
        </div>
        <div data-cy="resetError" *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>                                                               
    </form>
    </div>
</div> 