<div class="register h-100">
    <div class="form-register">
        <img class="mb-4" src="/assets/logo.png" alt="" width="100" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
        <form data-cy="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-group input-group">
            <input data-cy="registerName" type="text" placeholder="Name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div data-cy="registerNameError" *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>

        <div class="form-group input-group">
            <input data-cy="registerEmail" type="email" placeholder="E-mail" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div data-cy="registerEmailError" *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>

        <div class="form-group input-group">
            <input data-cy="registerPassword" type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div data-cy="registerPasswordError" *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>

        <div class="form-group input-group">
            <input data-cy="registerConfirmPassword" type="password" placeholder="Confirm password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div data-cy="registerConfirmPasswordError" *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>

        <div class="form-group">
            <button data-cy="registerBtn" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Create Account
            </button>
        </div>
        <div data-cy="registerError" *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> 

        <p data-cy="registerLoginLink" class="text-center">Have an account? <a href="/login">Log In</a> </p>                                                                 
    </form>
    </div>
</div> 